<div style="width: 1500px;" [ngStyle]="{'height.px': masterHeight}">
    <h1>Master-Detail Example</h1>
    <ag-grid-angular
            style="width: 100%; height:100%;"
            class="ag-fresh"
            [gridOptions]="gridOptions"
            [isFullWidthCell]="isFullWidthCell"            
            [getNodeChildDetails]="getNodeChildDetails"
            [fullWidthCellRendererFramework]="getFullWidthCellRenderer()"
            enableSorting
            enableColResize>
    </ag-grid-angular>
</div>
