<div class="full-width-panel" style="width: 1300px; height:300px; padding:20px;">    
    <ag-grid-angular
            style="width: 100%; height: 100%;"
            class="full-width-grid"
            [gridOptions]="gridOptions"
            [columnDefs]="columnDefs"
            [isFullWidthCell]="isFullWidthCell"
            enableSorting
            enableFilter
            enableColResize
            [getNodeChildDetails]="getNodeChildDetails1"
            [fullWidthCellRendererFramework]="getFullWidthCellRenderer1()"            
            (mousewheel)="consumeMouseWheelOnDetailGrid($event)"
            (DOMMouseScroll)="consumeMouseWheelOnDetailGrid($event)">
    </ag-grid-angular>
    
</div>
